{% load bootstrap3 %}
<!DOCTYPE html>
<html lang='es'>
<head>

  <meta charset='utf-8'>
  <!--<title>Sistema de Inventario WCG - {% block titulo %}{% endblock %}</title> -->
  <link rel='stylesheet' href='{{STATIC_URL}}css/base.css'>
  <!-- <link rel='shortcut icon' href='{{STATIC_URL}}img/icono.png'> -->
  <!--{% block style_css %}{% endblock %} -->
  <!--  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->
  <script src='{{STATIC_URL}}js/jquery-1.7.2.min.js'></script>
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

 <!-- se usa para los tab --> 
 <!-- <script src='{{STATIC_URL}}js/demo.js'></script> -->
  <script type="text/javascript">
$(document).ready(function(){
    $('a[data-toggle="tab"]').on('shown.bs.tab', function(e){
        var activeTab = $(e.target).text(); // Get the name of active tab
        var previousTab = $(e.relatedTarget).text(); // Get the name of previous tab
        $(".active-tab span").html(activeTab);
        $(".previous-tab span").html(previousTab);
    });
});
</script>
<style type="text/css">
	.bs-example{
		margin: 20px;
	}
</style>
</head>
  <header>
	  
	<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" rel="home" href="#" title="WCG">
        <img style="max-width:50%; margin-top: -10px;"
             src="{{STATIC_URL}}/img/logo.png"></a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
        <li class="active"><a href="{{TEMPLATE_DIRS}}/dashboard_cliente.html">Home</a></li>
        <li><a href="items_list">Items</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
        <p class="navbar-text navbar-right">Signed in as {{user.first_name|capfirst}} {{user.last_name|capfirst}} <a class="btn btn-default" href="/logout">
            	Logout</a></p>
     
      </ul>
      </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
	<hr>
  </header>

		<body>
  
	    {% block contenido %}{% endblock %}
	
      
    </div>
    <div class='mastfoot'>
  	  <p>Sistema de Inventario WCG &copy;2014</p>
    </div>
    </div>
    </div>
  </div>
  
</body>
</html>
