{% extends 'base.html' %}

{% block contenido %}

  <div class="site-wrapper">
		<div class="site-wrapper-inner">
     <div class="inner">
        <div class="inner cover">
    <h1>Sistema de Inventario Admin</h1>

<div class="container">

        <!-- Heading Row -->
        <div class="row">
           
        <!-- /.row -->
<div class="container">
    <h2>Últimos Préstamos</h2>
    <table class="table">
        <tr>
            <th>Item</th>
            <th>Cliente</th>
            <th>Fecha Pedido</th>
            <th>Fecha Retorno</th>
        </tr>
        {% for loan in loans %}
        <tr>
            <td>{{ loan.item.name }}</td>
            <td>{{ loan.client.user.first_name}} {{ loan.client.user.last_name }}</td>
            <td>{{ loan.loan_date }}</td>
            <td>{{ loan.return_date }}</td>
        </tr>
        {% endfor %}
    </table>
    <h2>Préstamos Pendientes</h2>
    <table class="table">
        <tr>
            <th>Item</th>
            <th>Cliente</th>
            <th>Fecha Pedido</th>
        </tr>
        {% for loan in active_loans %}
            {% if loan.is_active %}
            <tr>
                <td>{{ loan.item.name }}</td>
                <td>{{ loan.client.user.first_name}} {{ loan.client.user.last_name }}</td>
                <td>{{ loan.loan_date }}</td>
            </tr>
            {% endif %}
        {% empty %}
            <tr>
                <td>No existen Préstamos Pendientes</td>
            </tr>
        {% endfor %}
    </table>
    
    
    
    
</div>

{% endblock %}