{% extends 'base.html' %}
{% block titulo %} {{item.name}} {% endblock %}
    
{% block contenido %}
<div class=container>
    <h1>{{item.name|title}}</h1>
    <img src="/media/{{item.photo}}" width="100px">
    <div><h2>Lugar donde se encuentra</h2><p>{{item.location}}</p>
    </div>
    <div><h2>Descripción</h2> <p>{{item.description}}</p>
    </div>
    <div><h2>Fecha de Compra</h2><p>{{item.purchase_date}}</p>
    </div>
    <div><h2>Stock</h2><p>{{item.stock}}</p>
    </div>
    <div><h2>Disponibles</h2><p>{{item.availables}}</p>
    </div>
    
    {% if isAdmin %}
    <a class="btn btn-primary" href="{{TEMPLATE_DIRS}}/edit_item/{{item.id}}">Editar</a>
    {% endif %}
    <input id="backbutton" class="btn btn-default" type="button" value="Volver"/>
    <script>
        $("#backbutton").click(goBack);
        function goBack(){
            window.history.back();
        }
    </script>
</div>
{% endblock %}