{% extends 'base.html' %}
{% block titulo %} Agregar Item {% endblock %}

{% block encabezado %}
  <h1>Agregar Item</h1>
{% endblock %}

{% block contenido %}
  
<div class="container">
<div class="row">
<div class="col-md-7">
<h1>Agregar Item</h1>
<form action="/register_item/" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <input class="btn btn-primary" type="submit" value="Submit" />
    <input id="backbutton" class="btn btn-default" type="button" value="Volver"/>
</form>
</div>
</div>
</div>
<script>
  $("#backbutton").click(goBack);
    function goBack(){
      window.history.back();
    }
</script>
{% endblock %}