{% extends 'base.html' %}
{% block titulo %} Lista Items {% endblock %}

{% block encabezado %}
  <h1>Nuestros Items</h1>
{% endblock %}

{% block contenido %}
<div class="container">
<div class="row">
<div class="col-md-3">

			
    <p class="lead">

        Item

    </p>
    <div class="list-group">
        {% if isAdmin %}
        <a class="list-group-item active" href="/register_item/">
            Agregar Item

        </a>
        {% endif %}
        <a class="list-group-item" href="/search_items/">

            Buscar Items

        </a>
    </div>
    

</div>

	<div class="col-md-7">
        <p class="lead">
            Resumen
        </p>
		<table class="table">
        <tr>
            <th>Nombre</th>
            <th>Ubicación</th>
            <th>Sección</th>
            <th>Stock</th>
            <th>Cantidad Disponible</th>
            <th>Acción</th>
        </tr>
        {% for item in items %}
        <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.location.name }}</td>
            <td>{{ item.sublocation.name}}</td>
            <td>{{ item.stock }}</td>
            <td>{{ item.availables }}</td>
            <td><a class="btn btn-primary" href="/item/{{item.id}}/">Detalle</a></td>
        </tr>
        {% endfor %}
    </table>
		<a class="btn btn-default" href="/dashboard">Volver</a>
</div>
</div>
</div>
		
</div>
{% endblock %}
