{% extends 'base.html' %}
{% block titulo %} Agregar Préstamo {% endblock %}

{% block encabezado %}
  <h1>Agregar Préstamo</h1>
{% endblock %}

{% block contenido %}
<div class="container">
<div class="row">
<div class="col-md-7">
<h1>Generar Préstamo</h1>
<form action="/register_loan/" method="post">
    {% if not_available %}
        <p style="color:red">Item seleccionado no disponible</p>
    {% endif %}
    {% csrf_token %}
    {{ form }}
    <br>
    <input class="btn btn-primary" type="submit" value="Submit" />
    <input id="backbutton" class="btn btn-default" type="button" value="Volver"/>
</form>

</div>
</div>
</div>

<script>
        $("#backbutton").click(goBack);
        function goBack(){
            window.history.back();
        }
</script>
{% endblock %}