{% extends 'base.html' %}
{% block titulo %} {{item.name}} {% endblock %}
{% block encabezado %}
    <h1>Préstamos</h1>
{% endblock %}
{% block contenido %}
<div class=container>
    <div><h2>Cliente</h2><p>{{loan.client}}</p>
    </div>
    <div><h2>Item Prestado</h2> <p>{{loan.item}}</p>
    </div>
    <div><h2>Fecha de Préstamo</h2><p>{{loan.loan_date}}</p>
    </div>
    <div><h2>Estado</h2><p>{{loan.is_active}}</p>
    </div>
    <input id="backbutton" class="btn btn-default" type="button" value="Volver"/>
    
    <script>
        $("#backbutton").click(goBack);
        function goBack(){
            window.history.back();
        }
    </script>
</div>
{% endblock %}

