{% extends 'base.html' %}
{% block titulo %} Préstamos {% endblock %}

{% block encabezado %}
  <h1>Préstamos</h1>
{% endblock %}

{% block contenido %}

<div class="container">
<div class="row">
<div class="col-md-3">
{% if isAdmin %}
			
		
    <p class="lead">

        Préstamos

    </p>
    <div class="list-group">
        <a class="list-group-item active" href="../register_loan">
            Generar un Préstamo

        </a>
        <a class="list-group-item" href="../loan_cancel_list">

            Devolución

        </a>
        <a class="list-group-item" href="../history_loan">

            Historial

        </a>
    </div>
    {% endif %}

</div>
<div class="col-md-7">
        <p class="lead">
            Resumen
        </p>
		<table class="table">
        <tr>
            <th>Item</th>
            <th>Cliente</th>
            <th>Fecha Pedido</th>
            <th>Fecha Retorno</th>
            <th>Acción</th>
        </tr>
        {% for loan in loans %}
        <tr>
            <td>{{ loan.item.name }}</td>
            <td>{{ loan.client.user.first_name}} {{ loan.client.user.last_name }}</td>
            <td>{{ loan.loan_date }}</td>
            <td>{{ loan.return_date }}</td>
            <td><a class="btn btn-primary" href="/loan/{{loan.id}}/">Detalle</a></td>
        </tr>
        {% endfor %}
    </table>
		<a class="btn btn-default" href="/dashboard">Volver</a>
</div>
</div>
		
</div>
	
{% endblock %}
